##################################################################################
## papilio_one.ucf
##
## Author: Alvaro Lopes, Jack Gasset
##
## Contains assignment and iostandard information for
## all used pins as well as timing and area constraints for 
## Papilio One Version 2.03 and greater that uses 32Mhz oscillator.
##
##################################################################################

# Crystal Clock - use 32MHz onboard oscillator
NET "clk" LOC = "P89" | IOSTANDARD = LVCMOS25 | PERIOD = 31.25ns ;
#NET "clk" LOC = "P89" | IOSTANDARD = LVCMOS25 | PERIOD = 31.00ns ;

# Wing1 Column A
NET "WING_A<0>" LOC = "P18" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	#A0
NET "WING_A<1>" LOC = "P23" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;  	#A1
NET "WING_A<2>" LOC = "P26" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;  	#A2
NET "WING_A<3>" LOC = "P33" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;  	#A3
NET "WING_A<4>" LOC = "P35" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;  	#A4
NET "WING_A<5>" LOC = "P40" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;  	#A5
NET "WING_A<6>" LOC = "P53" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;  	#A6
NET "WING_A<7>" LOC = "P57" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;  	#A7
NET "WING_A<8>" LOC = "P60" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;  	#A8
NET "WING_A<9>" LOC = "P62" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ; 	#A9
NET "WING_A<10>" LOC = "P65" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	#A10
NET "WING_A<11>" LOC = "P67" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	#A11
NET "WING_A<12>" LOC = "P70" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	#A12
NET "WING_A<13>" LOC = "P79" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	#A13
NET "WING_A<14>" LOC = "P84" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	#A14
NET "WING_A<15>" LOC = "P86" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	#A15

# Wing1 Column B
NET "WING_B<0>" LOC = "P85" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	#B0
NET "WING_B<1>" LOC = "P83" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	#B1
NET "WING_B<2>" LOC = "P78" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	#B2
NET "WING_B<3>" LOC = "P71" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	#B3
NET "WING_B<4>" LOC = "P68" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	#B4
NET "WING_B<5>" LOC = "P66" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	#B5
NET "WING_B<6>" LOC = "P63" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	#B6
NET "WING_B<7>" LOC = "P61" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	#B7
NET "WING_B<8>" LOC = "P58" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	#B8
NET "WING_B<9>" LOC = "P54" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	#B9
NET "WING_B<10>" LOC = "P41" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	#B10
NET "WING_B<11>" LOC = "P36" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	#B11
NET "WING_B<12>" LOC = "P34" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	#B12
NET "WING_B<13>" LOC = "P32" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	#B13
NET "WING_B<14>" LOC = "P25" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	#B14
NET "WING_B<15>" LOC = "P22" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	#B15

# Wing2 Column A
NET "WING_C<0>" LOC = "P91" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	#C0
NET "WING_C<1>" LOC = "P92" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;  	#C1
NET "WING_C<2>" LOC = "P94" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;  	#C2
NET "WING_C<3>" LOC = "P95" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;  	#C3
NET "WING_C<4>" LOC = "P98" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;  	#C4
NET "WING_C<5>" LOC = "P2" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;  	#C5
NET "WING_C<6>" LOC = "P3" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;  	#C6
NET "WING_C<7>" LOC = "P4" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;  	#C7
NET "WING_C<8>" LOC = "P5" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;  	#C8
NET "WING_C<9>" LOC = "P9" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;    #C9
NET "WING_C<10>" LOC = "P10" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	#C10
NET "WING_C<11>" LOC = "P11" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	#C11
NET "WING_C<12>" LOC = "P12" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	#C12
NET "WING_C<13>" LOC = "P15" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	#C13
NET "WING_C<14>" LOC = "P16" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	#C14
NET "WING_C<15>" LOC = "P17" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	#C15

## RS232
NET "rxd"  LOC = "P88" | IOSTANDARD = LVTTL ;
NET "txd"  LOC = "P90" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;

## SPI flash
NET "SPI_CS"   LOC = "P24" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
NET "SPI_SCK"  LOC = "P50" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "SPI_MISO" LOC = "P44" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "SPI_MOSI" LOC = "P27" | IOSTANDARD = LVCMOS33 ;

#NET "vgaclk" TIG;
