//! **************************************************************************
// Written by: Map O.61xd on Fri May 04 12:43:38 2012
//! **************************************************************************

SCHEMATIC START;
COMP "SPI_SCK" LOCATE = SITE "P50" LEVEL 1;
COMP "CLK" LOCATE = SITE "P89" LEVEL 1;
COMP "RXD" LOCATE = SITE "P88" LEVEL 1;
COMP "TXD" LOCATE = SITE "P90" LEVEL 1;
COMP "SPI_MISO" LOCATE = SITE "P44" LEVEL 1;
COMP "SPI_MOSI" LOCATE = SITE "P27" LEVEL 1;
COMP "WING_A<0>" LOCATE = SITE "P18" LEVEL 1;
COMP "WING_A<1>" LOCATE = SITE "P23" LEVEL 1;
COMP "WING_A<2>" LOCATE = SITE "P26" LEVEL 1;
COMP "WING_A<3>" LOCATE = SITE "P33" LEVEL 1;
COMP "WING_B<0>" LOCATE = SITE "P85" LEVEL 1;
COMP "WING_A<4>" LOCATE = SITE "P35" LEVEL 1;
COMP "WING_B<1>" LOCATE = SITE "P83" LEVEL 1;
COMP "WING_A<5>" LOCATE = SITE "P40" LEVEL 1;
COMP "WING_B<2>" LOCATE = SITE "P78" LEVEL 1;
COMP "WING_A<6>" LOCATE = SITE "P53" LEVEL 1;
COMP "WING_B<3>" LOCATE = SITE "P71" LEVEL 1;
COMP "WING_A<7>" LOCATE = SITE "P57" LEVEL 1;
COMP "WING_C<0>" LOCATE = SITE "P91" LEVEL 1;
COMP "WING_B<4>" LOCATE = SITE "P68" LEVEL 1;
COMP "WING_A<8>" LOCATE = SITE "P60" LEVEL 1;
COMP "WING_C<1>" LOCATE = SITE "P92" LEVEL 1;
COMP "WING_B<5>" LOCATE = SITE "P66" LEVEL 1;
COMP "WING_A<9>" LOCATE = SITE "P62" LEVEL 1;
COMP "WING_C<2>" LOCATE = SITE "P94" LEVEL 1;
COMP "WING_B<6>" LOCATE = SITE "P63" LEVEL 1;
COMP "WING_C<3>" LOCATE = SITE "P95" LEVEL 1;
COMP "WING_B<7>" LOCATE = SITE "P61" LEVEL 1;
COMP "WING_C<4>" LOCATE = SITE "P98" LEVEL 1;
COMP "WING_B<8>" LOCATE = SITE "P58" LEVEL 1;
COMP "WING_C<5>" LOCATE = SITE "P2" LEVEL 1;
COMP "WING_B<9>" LOCATE = SITE "P54" LEVEL 1;
COMP "WING_C<6>" LOCATE = SITE "P3" LEVEL 1;
COMP "WING_C<7>" LOCATE = SITE "P4" LEVEL 1;
COMP "WING_C<8>" LOCATE = SITE "P5" LEVEL 1;
COMP "WING_C<9>" LOCATE = SITE "P9" LEVEL 1;
COMP "WING_A<10>" LOCATE = SITE "P65" LEVEL 1;
COMP "WING_A<11>" LOCATE = SITE "P67" LEVEL 1;
COMP "WING_A<12>" LOCATE = SITE "P70" LEVEL 1;
COMP "WING_A<13>" LOCATE = SITE "P79" LEVEL 1;
COMP "WING_A<14>" LOCATE = SITE "P84" LEVEL 1;
COMP "WING_A<15>" LOCATE = SITE "P86" LEVEL 1;
COMP "WING_B<10>" LOCATE = SITE "P41" LEVEL 1;
COMP "WING_B<11>" LOCATE = SITE "P36" LEVEL 1;
COMP "WING_B<12>" LOCATE = SITE "P34" LEVEL 1;
COMP "WING_B<13>" LOCATE = SITE "P32" LEVEL 1;
COMP "WING_B<14>" LOCATE = SITE "P25" LEVEL 1;
COMP "WING_B<15>" LOCATE = SITE "P22" LEVEL 1;
COMP "WING_C<10>" LOCATE = SITE "P10" LEVEL 1;
COMP "WING_C<11>" LOCATE = SITE "P11" LEVEL 1;
COMP "WING_C<12>" LOCATE = SITE "P12" LEVEL 1;
COMP "WING_C<13>" LOCATE = SITE "P15" LEVEL 1;
COMP "WING_C<14>" LOCATE = SITE "P16" LEVEL 1;
COMP "WING_C<15>" LOCATE = SITE "P17" LEVEL 1;
COMP "SPI_CS" LOCATE = SITE "P24" LEVEL 1;
NET "clkgen_inst/clkin_i" PERIOD = 31 ns HIGH 50%;
SCHEMATIC END;

